:root {
    --color-principal: #2ca7df;
    --color-acento: #1a2744;
    --color-fondo: #f0f8ff;
    --color-texto: #333;
    --color-borde: #ccc;
}


body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.container {
    margin: 20px auto;
    border-radius:.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    padding: 20px;
    background-color: var(--color-texto);
    color: var(--color-principal);
}

.container form {
    max-width: 90%;
    margin: auto;
}

.container table {
    width: 100%;
    border-collapse: collapse;
}

.container th,
.container td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--color-borde);
}

.container th {
    background-color: var(--color-acento);
    color: var(--color-texto);
}

.container tbody tr:hover {
    background-color: var(--color-principal);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-acento);
    border-color: var(--color-principal);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    box-shadow: 0 0 10px rgba(64,224,208,.5); /* Ajustado al color acento */
}

.form-control {
    border-radius:.25rem;
    transition: border-color.15s ease-in-out, box-shadow.15s ease-in-out;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(64,224,208,.25); /* Ajustado al color acento */
    border-color: var(--color-principal);
}

.table tbody tr {
    transition: background-color.3s ease;
}

.table tbody tr:hover {
    background-color: var(--color-acento);
    cursor: pointer;
}

#btnUpdate {
    display: none;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media query para dispositivos pequeños (móviles) */
@media (max-width: 576px) {
   .container {
        padding: 10px;
    }

   .container form {
        max-width: 100%;
    }

   .btn-primary {
        font-size:.875rem; /* Reduce el tamaño del texto de los botones */
    }

   .form-control {
        font-size:.875rem; /* Reduce el tamaño del texto de los inputs */
    }
}

/* Media query para tablets */
@media (min-width: 577px) and (max-width: 768px) {
   .container {
        padding: 15px;
    }

   .btn-primary {
        font-size: 1rem; /* Tamaño de texto normal para tablets */
    }

   .form-control {
        font-size: 1rem; /* Tamaño de texto normal para tablets */
    }
}

/* Media query para laptops y desktops */
@media (min-width: 769px) {
   .container {
        padding: 20px;
    }

   .btn-primary {
        font-size: 1.125rem; /* Tamaño de texto ligeramente mayor para pantallas grandes */
    }

   .form-control {
        font-size: 1.125rem; /* Tamaño de texto ligeramente mayor para pantallas grandes */
    }
}
